# compiled output
/node_modules
node_modules
dist/

.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
*iml
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

tsconfig.tsbuildinfo

# ignore yarn.lock in case we're in a monorepo
**/yarn.lock

# do not use package-lock.json in yarn workspace
**/package-lock.json
